[submodule "vendor/p5-Oberth-Manoeuvre"]
	path = vendor/p5-Oberth-Manoeuvre
	url = https://github.com/oberth-manoeuvre/p5-Oberth-Manoeuvre.git
	branch = master
[submodule "vendor/p5-Oberth-Block-VCS-Git"]
	path = vendor/p5-Oberth-Block-VCS-Git
	url = https://github.com/oberth-manoeuvre/p5-Oberth-Block-VCS-Git.git
	branch = master
[submodule "vendor-external/cpm"]
	path = vendor-external/cpm
	url = https://github.com/skaji/cpm.git
